

  <div class="row">
    <div class="col-12">
      <img src="../../../assets/img/unnas.jpg" class="d-block w-100" alt="...">
    </div>
  </div>


  <div class="row">
    <h1 class="text-center titulo"> WELCOME TO PERFECT BODY!</h1>
   </div>

  <div class="row">
    <p class=" col-12 mt-4" >Perfect body! is a dynamic and innovative company that offers the best and most complete service for the care of your body.</p>
    <p class=" col-12 mt-2 mb-4">All this growth would not have been possible without the excellent group of professionals that make up the Perfect body family! So, if you are looking for the perfect place for your personal care, look no further, you have already found it, it is called Perfect body! and we have more than 10 years of experience in the world of aesthetics.</p>
  </div>


  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide carrusel" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

      


      <div class="row">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/manicura.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/pedicura.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/cera.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/cejas.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
      </div>

      

<div>
  <app-floating-button ubicacion="Home"></app-floating-button>
</div>