@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif !important;
  font-size: 20px;
}


h1{
    font-size: 40px;
}


.carrusel{
    width: 80%;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
     margin-top: 1em;
}

p{

    padding-right: 12%;
    padding-left: 12%;
    text-align: justify;
    font-size: 18px;

}
/*
@media screen and (max-width: 846px) {
    .carrusel{
        width: 80%;
        padding-top: 2em;
        margin-left: auto;
        margin-right: auto;
    }
  }*/