@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif !important;
}


h1{
    font-size: 40px !important;
}



.carrusel{
    width: 80%;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
     margin-top: 1em;
}

p{
    padding-right: 12%;
    padding-left: 12%;
    text-align: justify;
    font-size: 18px;

}



.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #8254EA 0%, #E86DEC 100%);
  }
  
  /**CSS BOTON**/
  .btn {
    width: 340px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color:#f6c6c3;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 1em;
    }
  
  .btn:hover {
    background-color: #be8f8c;;
        box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
    color: #fff;
    transform: translateY(-7px);
  }

  