<div class="row text-center">
    <div class="col-md-4 offset-md-4 mt-5">
        <form (ngSubmit)="login()"
              #miFormulario="ngForm"
              autocomplete="off">
            
            <!-- EMAIL -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    
                    <input type="email"
                           class="form-control"
                           [(ngModel)]="email"
                           name="email"
                           placeholder="Email">
  
                    <!--<span class="form-text text-danger"
                        *ngIf="nombreValido()">
                        Debe de ser de 3 letras
                    </span>-->
                </div>
            </div>
  
  
            <!-- PASSWORD -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                  
                  <input type="password"
                         class="form-control"
                         [(ngModel)]="password"
                         name="password"
                         placeholder="Password">
  
                  <!--<span class="form-text text-danger"
                      *ngIf="nombreValido()">
                      Debe de ser de 3 letras
                  </span>-->
              </div>
          </div>
  
  
          <!--BOTON PARA LOGEAR-->
            <div class="row ">
                <div class="col">
                    <button type="submit"
                            [disabled]="miFormulario.invalid"
                            class="btn btn-primary"
                            routerLink="/register"> <!--CAMBIAR EL ENLACE CUANDO TENGAMOS LA RUTA DESEADA-->
                        Enter
                    </button>
                </div>
            </div>
        </form>
  
  
        <!--BOTON DE REGISTRAR-->
        <div class="row">
          <div class="col">
              <span  class="mr-3">You do not have an account?</span>
              <button class="btn btn-primary m-2" 
                    routerLink="/auth/register" >Register </button>
          </div>
      </div>
  
  
    </div>
  </div>
  
  
  <!--
  <div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>
        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>
        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>
        <span>CustomDirective</span>
        <pre>{{ miFormulario.controls['existencias']?.errors | json }}</pre>
    </div>
  </div>
  -->