/*BOTONES*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #8254EA 0%, #E86DEC 100%);
}

.btn {
  width: 200px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color:white;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 1em;
  }

.btn:hover {
  background-color: #ff5722;
      box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}


/**DISEÑO A PARTIR DE PÁGINAS LG**/
@media screen and (min-width: 846px) {

    /*BORDE TABLA*/
    .bordeForm{
      padding-top: 2em;
      padding-bottom: 2em;
      border: 2px solid;
      border-radius: 4%;
      border: none;
      background-color: #be8f8c;     
      margin: auto !important;
      margin-top: 3.6em !important;
    }


    /*IMAGEN*/
    .nailsLogin{
      width: 100%;
      text-align: center;
      margin-left: 2em;
      margin-top: 4.3em;
    }
}

/**DISEÑO PARA MOVILES Y TABLETS**/
@media screen and (max-width: 846px) {

  /*BORDE TABLA*/
  .bordeForm{
    padding-top: 2em;
    width: 80%;
    padding-bottom: 2em;
    border: 2px solid;
    border-radius: 4%;
    border: none;
    background-color: #be8f8c;
    margin: auto !important;
    margin-top: 2em !important;
  }

   /*IMAGEN*/
   .nailsLogin{
    width: 83%;
    text-align: center;
    margin-top: 2em;

  }


}