<div class="row text-center">
    <div class="col-md-6 offset-md-1 mt-5 bordeForm">
        <form (ngSubmit)="login()"
              #miFormulario="ngForm"
              autocomplete="off">
            
            <!-- EMAIL -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    
                    <input type="email"
                           class="form-control"
                           [(ngModel)]="email"
                           name="email"
                           placeholder="Email">
  
                    <!--<span class="form-text text-danger"
                        *ngIf="nombreValido()">
                        Debe de ser de 3 letras
                    </span>-->
                </div>
            </div>
  
  
            <!-- PASSWORD -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                  
                  <input type="password"
                         class="form-control"
                         [(ngModel)]="password"
                         name="password"
                         placeholder="Password">
  
                  <!--<span class="form-text text-danger"
                      *ngIf="nombreValido()">
                      Debe de ser de 3 letras
                  </span>-->
              </div>
          </div>
  
  
          <!--BOTON PARA LOGEAR-->
            <div class="row ">
                <div class="col">
                    <button type="submit"
                            [disabled]="miFormulario.invalid"
                            class="custom-btn btn"
                            (click)="login()"> 
                        Enter
                    </button>
                </div>
            </div>

            <div class="row ">
                <div class="col mt-5">
                    <span>You do not have an account?</span>
                    
            
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <button class="col-md-4 offset-md-1  mt-3 btn m-2 register" 
                    routerLink="/auth/register" >Register </button>   
                    
            
                </div>
            </div>
    </form>
  
 
        </div>

        <div class="col-md-4 offset-md-auto">

            <img src="../../../assets/img/nailsLogin.jpg" class="nailsLogin  " >
        </div>
        <!--BOTON DE REGISTRAR-->


       


        <!--
  <div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>
        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>
        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>
        <span>CustomDirective</span>
        <pre>{{ miFormulario.controls['existencias']?.errors | json }}</pre>
    </div>
  </div>
  -->