<div class="row text-center">
    <div class="col-md-4 offset-md-4 mt-5">

        <form autocomplete="off" 
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">

            <!-- Name -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="name"
                           placeholder="Pepe">

                   <!-- <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>-->
                </div>
            </div>

            <!-- Last Name -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="lastName"
                           placeholder="García">

                  <!--  <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>-->
                </div>
            </div>


            <!-- DNI -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">DNI</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="dni"
                           placeholder="45876234T">

                   <!--  <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>-->
                </div>
            </div>

            
            <!-- Telephone -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Telephone</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           formControlName="telephone"
                           placeholder="674321456">

                   <!--  <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>-->
                </div>
            </div>

            <!-- Address -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="address"
                           placeholder="C/Guadiana nº56 3C">

                   <!--  <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>-->
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="pepe@gmail.com">
                    <span class="form-text text-danger"
                           *ngIf="campoNoValido('email')">
                        {{ emailErrorMsg }}
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password"
                           placeholder="Enter your password">

                    <span class="form-text text-danger"
                           *ngIf="campoNoValido('password')">
                         La contraseña debe de ser mayor de 6 caracteres.
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password2"
                           placeholder="Confirm Password">
                    
                    <span class="form-text text-danger"
                           *ngIf="campoNoValido('password2')">
                         Las contraseñas deben de ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            [disabled]="miFormulario.pending"
                            type="submit">
                        Register
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>

    </div>
</div>
