<div class="row mt-3  gx-0">
    <h1 class="text-center">YOUR DATA!</h1>        
        <div class="col-md-6 col-12 text-center">
                <h2><strong>Name: </strong><span class="label label-default">{{usuario.name}}</span></h2>
                <h2><strong>Last name: </strong><span class="label label-default">{{usuario.lastname}}</span></h2>
                <h2><strong>DNI: </strong><span class="label label-default">{{usuario.dni}}</span></h2>
                <h2><strong>Telephone: </strong><span class="label label-default">{{usuario.telephone}}</span></h2>
                <h2><strong>Email: </strong><span class="label label-default">{{usuario.email}}</span></h2>
              
        </div>
        <div class="col-md-6 col-12 text-center" >
            <h2><strong>Cita: </strong></h2>
                <div *ngFor="let i of citas" class="mt-3">
                    <span class="label label-default mx-3"><strong>Day:</strong> {{i.dia | date: 'dd-MM-yyyy'}}</span><br>
                    <span class="label label-default"><strong>Hour:</strong> {{i.dia | date: 'HH:mm'}}</span><br><br>

                    <div *ngFor="let j of i.listaServicios" >
                        <span class="label label-default"><strong>Treatments:</strong> {{j.servicio.nombre}}</span><br> <br>
                        <span class="label label-default"><strong>Price:</strong> {{j.servicio.precio}}€</span><br> <br>
                        <span class="label label-default"><strong>Discount:</strong> {{j.descuento}}%</span><br> 
                    </div> 
                    <button class="custom-btn btn" (click)="cancelDate(i.id)">Cancelar</button>

                </div> 

    </div>
  </div>
  