<div class="row">
    <div class="col-lg-12 col-xs-6">
        <h1 class="text-center titulo">YOUR DATA!</h1>
        <div class="frame text-center">
            <h3>Name <span class="label label-default">New</span></h3>
            <h3>Last name <span class="label label-default">New</span></h3>
            <h3>DNI <span class="label label-default">New</span></h3>
            <h3>Telephone <span class="label label-default">New</span></h3>
            <h3>Email <span class="label label-default">New</span></h3>

        </div>
    </div>
  </div>
  