@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.logo{
    width:90px  ;
    padding: 1em;
    float: left !important;
}

.loginIcon{
    color: white;
    position: absolute;
    right: 0%;
    /*padding-top: 1.5em;
    padding-right: 1em;*/
    font-size: 1.7em;
    width: 30px;
    top:35px;
    margin-right: 60px;


}

.loginIcon2{
    color: white;
    position: absolute;
    right:    0%;
    /*padding-top: 1.5em;
    padding-right: 1em;*/   
    font-size: 1.7em;
    width: 30px;
    top:35px;
    margin-right: 15px;

}

.colorRosa {
    background-color: #f6c6c3;
}

.nombre{
    width: 150px;
    padding-left: 0 !important;
    margin-top: 0.8em;
    margin-right: 8em;
}