.logo{
    width:90px  ;
    padding: 1em;
    float: left !important;
}

.loginIcon{
    color: white;
    position: absolute;
    right:    0;
    padding-top: 1.5em;
    padding-right: 1em;
    font-size: 1.7em;

}

.verdeOscuro {
    background-color: rgba(114, 183, 161, 255);
}

.nombre{
    width: 150px;
    padding-left: 0 !important;
    margin-top: 0.8em;
    margin-right: 8em;
}