@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');

*{
    font-family: 'Playfair Display', serif !important;
}


.logo{
    width:90px  ;
    padding: 1em;
    float: left !important;
}

.loginIcon{
    color: white;
    position: absolute;
    right:    0;
    padding-top: 1.5em;
    padding-right: 1em;
    font-size: 1.7em;
    width: 50px;

}

.colorRosa {
    background-color: #f6c6c3;
}

.nombre{
    width: 150px;
    padding-left: 0 !important;
    margin-top: 0.8em;
    margin-right: 8em;
}

footer{
    text-decoration: none;
    margin-top: 5em;
}

.decoracionFooter{
    text-decoration: none;
    color:white;
    font-size: 15px;
}

.navbar{
    font-weight: bold;
    font-size: 20px;
    padding-left: 0.5em;
}