@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif;

}

.logo{
    width:90px  ;
    padding: 1em;
    float: left !important;
}

.loginIcon{
    color: white;
    position: absolute;
    right: 0%;
    /*padding-top: 1.5em;
    padding-right: 1em;*/
    font-size: 1em;
    width: 30px;
    top:35px;
    margin-right: 100px;
    color:black;


}

.loginIcon2{
    color: white;
    position: absolute;
    right:    0%;
    /*padding-top: 1.5em;
    padding-right: 1em;*/   
    font-size: 1em;
    width: 30px;
    top:35px;
    margin-right: 40px;
    color:black;
}

.colorRosa {
    background-color: #f6c6c3;
}



footer{
    text-decoration: none;
    margin-top: 5em;
}

.decoracionFooter{
    text-decoration: none;
    color:white;
    font-size: 15px;
}

.navbar{
    font-weight: bold;
    font-size: 20px;
    padding-left: .3px;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .3px;
}

.nav-item:hover{
    background-color:#fbd67e;
    font-weight: 900;
    color: black;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
  }


.developer{
    width: 20px;
}

@media screen and (max-width: 480px) {
    .nombre{
        width: 150px;
        padding-left: 0 !important;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        text-align: inherit !important;
    }
  }

  @media screen and (min-width: 481px) {
    .nombre{
        width: 150px;
        margin-top: 3em;
        margin: auto !important;
        align-items: center;
    }

    .nombreCentrado{
        text-align: center;
        margin-right: 7em;
       
    }
  }


.active{
    background-color: #be8f8c !important;
}

.imagenLogin{
width: 35px;

}


.imagenLogout{
    width: 35px;
}