 <div class="verdeOscuro">
    <!-- HEADER -->
    <div class="row"> <!-- start row-->
      <header class="colorVerde">
        <img src="../../../assets/img/logo.png" class="logo" >
        <i class="fas fa-user-alt loginIcon"></i>
      </header>
    </div>  <!-- end row-->


  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/auth/Login">Login</a>
        <!--<a class="nav-item nav-link" routerLink="/admin">Services</a>
        <a class="nav-item nav-link" routerLink="/admin">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>-->
    </div>
  </nav>
</div>  
  <div>
    <router-outlet></router-outlet>
  </div>
 
