<div class="colorRosa">
  <!-- HEADER -->
  <div class="row gx-0 mb-2"> <!-- start row-->
    <div class="col-12">
      <header class="colorVerde ">
        <img src="./assets/img/logo.png"  alt="logo de la empresa que es una flor de loto" class="logo" routerLink="auth/home" >
        <div class="nombreCentrado">
          <img src="./assets/img/nombre.png" alt="nombre de la empresa que es Perfect Body!" class="nombre" routerLink="auth/home"  >
        </div>
        <div class="loginIcon">
          <img src="./assets/icon/login.png" alt="imagen para iniciar sesion" class="imagenLogin" routerLink="auth/login" >Log in
        </div>
        <div class="loginIcon2">
         <img src="./assets/icon/logout.png" alt="imagen para cerrar sesion"  class="imagenLogout"  routerLink="auth/home"  (click)="deletetoken()"> Log out
        </div>
        <i class="fa-solid fa-user-large" routerLink="auth/login" routerLinkActive="active"></i>

      </header>
    </div>
  </div>  <!-- end row-->
  

<nav class="navbar navbar-expand navbar-dark">
  <div class="navbar-nav">
    <ul class="nav">
      <li class="nav-item" routerLink="/auth/home" routerLinkActive="active"><a class="nav-link">Home</a></li> <!-- [routerLinkActiveOptions]="{exact:true}"-->
      <li class="nav-item" routerLink="/auth/login" routerLinkActive="active"><a class="nav-link" >Login</a></li>
      <li class="nav-item" routerLink="servicios" routerLinkActive="active"><a class="nav-link" >Treatments</a></li>
      <li class="nav-item" routerLink="protected/usuario" routerLinkActive="active"><a class="nav-link" >User</a></li>
    </ul>

  </div>
</nav>
</div>  
  <div>
    <router-outlet></router-outlet>
  </div>
 
<div class="row gx-0">
  <div class="col-12 ">
    <footer class="text-center text-white colorRosa p-4">
      <div class="text-center text-dark">
        <a href="https://www.linkedin.com/in/adela-mar%C3%ADa-lira-s%C3%A1nchez-6421391a6/" style="color: black;" class="decoracionFooter" >Aplicación desarrollada por Adela Lira <i class="fa-regular fa-face-grin-hearts"></i></a>
        <img src="./assets/icon/programmer.png" class="developer" alt="chica programando">
      </div>
    </footer>
  </div>
</div>