<div class="row text-center" >
    <div class="col-md-6 col-12 offset-md-1 mt-5 bordeForm m-0">
        <form (ngSubmit)="addServicio()"
              #miFormulario="ngForm"
              autocomplete="off">
            
            <!-- FECHA Y HORA CITA -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Time for your appointment</label>
                <div class="col-sm-9">
                    
                    <input type="datetime-local"
                           class="form-control hora"
                           [(ngModel)]="dia"
                           name="dia"
                           placeholder="dia">
                    <p>You can only enter appointments on the hour</p>

                </div>
            </div>

            <button  class="custom-btn btn"  (click)="pedirCita()"> check availability</button>

                
            <div class="mb-3 row mt-5 " >
                <label class="col-sm-3 col-form-label">Treatments</label>
                <div class="col-sm-9 ">
                    <select  *ngIf="servicios?.length != 0">
                        <option *ngFor="let i of servicios" (click)="saveServicio(i)" >{{i.nombre}}</option>             
                    </select>

                    <!--<span class="form-text text-danger"
                        *ngIf="nombreValido()">
                        Debe de ser de 3 letras
                    </span>-->
                </div>
            </div>



  

          <!--BOTON PARA LOGEAR-->
            <div class="row ">      
                <div class="col">
                    <button type="submit"
                            [disabled]="miFormulario.invalid"
                            class="custom-btn btn" > 
                        Enter
                    </button>
                </div>
            </div>

        
    </form>




      
    



       