<div class="row text-center  gx-0" >
    <div class="col-md-6 col-12 offset-md-1 mt-5 bordeForm m-0">
        
            
            <!-- FECHA Y HORA CITA -->
            <div class="mb-3 row  gx-0">
                <label class="col-sm-3 col-form-label">Time for your appointment</label>
                <div class="col-sm-9">
                    
                    <input type="datetime-local"
                           class="form-control hora"
                           [(ngModel)]="dia"
                           name="dia"
                           placeholder="dia">
                    <p>You can only enter appointments on the hour</p>

                </div>
            </div>

            <button  class="custom-btn btn"  (click)="pedirCita()"> check availability</button>

                
            <div class="mb-3 row mt-5  gx-0" >
                <label class="col-sm-3 col-form-label">Treatments</label>
                <div class="col-sm-9" *ngIf="servicio?.length != 0">
                    <select  *ngIf="servicio?.length != 0">
                        <option *ngFor="let i of servicio" (click)="saveServicio(i)" >{{i.nombre}}</option>             
                    </select>


                </div>
            </div>

            <button  class="custom-btn btn"  (click)="addServicio()"> Enter</button>


      
</div>
</div>




       