/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(248, 247, 247);
}


@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
